<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Terminarz{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset("vendor/bootstrap/dist/css/bootstrap.min.css") }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset("assets/main.css") }}"/>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset("vendor/jquery/dist/jquery.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("vendor/bootstrap/dist/js/bootstrap.min.js") }}"></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
