{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="top-bar" style="background-color: {{ task.category.color }}B3">
            <div class="top-bar-bg"></div>
                <h1 class="text-center{% if date('now')>=date(task.expiresAt)%} text-danger{% endif %}">{{ task.title }}</h1>
                <hr style="border-top: 1px solid {{ task.category.color }}"/>
                <h5 class="text-muted text-center">Data wygaśnięcia: {{ task.expiresAt| date('Y-m-d H:i') }}</h5>

        </div>

        <h4 class="text-center">Opis</h4>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p>{{ task.description }}</p>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <p class="text-muted">Utworzono: {{ task.createdAt| date('Y-m-d H:i') }}</p>
            </div>
            <div class="col-md-4 offset-md-2">
                <p class="text-muted">Ostatnia modyfifacja: {{ task.updatedAt| date('Y-m-d H:i') }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 offset-md-5">
                {{ form(doneForm,{'attr':{'class':'float-left'}}) }}
                {{ form(deleteForm) }}
            </div>
        </div>
    </div>


{% endblock %}