{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3 left-panel">
                <div class="user-panel row">
                    <div class="col-10 border-light">
                        <h4>{{ username }}</h4>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('fos_user_security_logout') }}" class="logout btn btn-danger offset-4" >Wyloguj</a>
                    </div>
                </div>
                <h2 class="text-center">Kategorie</h2>

                {{ form(addCategoryForm, {'attr': {'class': 'form-inline'}}) }}
                <br/>

                <ul class="categories">
                    <li><a href="{{ path('my_task_index') }}" class="btn btn-default btn-block btn-category">Wszystkie</a></li>

                    {% for category in categories%}
                        <li><a href="{{ path('my_task_index', {'cid':category.id}) }}" class="btn btn-default btn-block btn-category" style="border: 1px solid {{ category.color }};border-left-width:3px;">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-9 right-panel">

                <div class="top-bar "
                {% if selectedCategory is not empty  %}
                    style="background-color: {{ selectedCategory.color }}B3"
                {% endif %}
                >
                    <div class="top-bar-bg"></div>

                    {% if categories is not empty %}
                        <button type="button" class="btn btn-primary pull-left" data-toggle="modal" data-target="#exampleModal">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Dodaj zadanie
                        </button>
                    {% endif %}
                    <h5 class="today-text">Dzisiaj jest: {{ "now"|date("Y-m-d") }}</h5>
                        {% if selectedCategory is not empty %}
                            <h5 class="text-center text-muted">Kategoria</h5>
                            <h3 class="text-center">{{ selectedCategory.name }}</h3>
                        {% else %}
                            <h5 class="text-center text-muted">Witaj!</h5>
                            <h3 class="text-center">Co masz dzisiaj w planach?</h3>
                        {% endif %}



                    <hr/>

                    {% if tasks is empty  %}
                        <h3 class="text-danger text-center">Brak zadań do wyświetlenia</h3>
                    {% else %}
                        <h3 class="text-center text-muted">Zadania do wykonania</h3>
                    {% endif %}

                </div>
                <div class="task-grid">
                {% if tasks is not empty %}

                    {% set cntr = 0 %}
                    {% for task in tasks %}

                        {% if cntr == 0 %}
                            <div class="row no-gutters">
                        {% endif %}
                        <div class="col-md-6">
                        {% if date('now') >= date(task.expiresAt) %}
                            <div class="card border-danger task-panel">
                        {% else %}
                            <div class="card task-panel">
                        {% endif %}

                            <div class="card-body">
                                {% if date('now') >= date(task.expiresAt) %}
                                    <h5 class=""><a href="{{ path('my_task_show',{'id': task.id}) }}" class="card-title text-danger">{{ task.title  }}</a> </h5>
                                    <h6 class="card-subtitle text-danger">{{ task.expiresAt| date('Y-m-d H:i') }}</h6>
                                {% else %}
                                    <h5 class="card-title"><a href="{{ path('my_task_show',{'id': task.id}) }}">{{ task.title  }}</a></h5>
                                    <h6 class="card-subtitle">{{ task.expiresAt| date('Y-m-d H:i') }}</h6>
                                {% endif %}

                            </div>
                            <div class="card-footer">
                                <a href="{{ path('my_task_edit',{'id': task.id}) }}" class="btn btn-primary"><span class="gl"></span> Edytuj</a>
                            </div>
                        </div></div>
                        {% if cntr == 1 %}
                            </div>
                            {% set cntr = 0 %}
                        {% else %}
                            {% set cntr = cntr+1 %}
                        {% endif %}

                    {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Dodaj nowe zadanie</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    {{ form_start(addTaskForm) }}
                    {{ form_widget(addTaskForm) }}
                    <input type="submit" name="save" class="btn btn-primary" value="Dodaj" />
                    {{ form_end(addTaskForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}